header#main-content-header.clearfix
{
	height: 150px;
} 

/* Posted On - style for Hot Topics and New Topics */
div.postedon
{
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 90%, rgba(31,67,81,1) 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(90%,rgba(255,255,255,1)), color-stop(99%,rgba(31,67,81,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 90%,rgba(31,67,81,1) 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 90%,rgba(31,67,81,1) 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 90%,rgba(31,67,81,1) 99%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 90%,rgba(31,67,81,1) 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#1f4351',GradientType=0 ); /* IE6-9 */

}

.hottopic
{
position:relative;
top: 10px; 
}
